body {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
  height: 1200px;
  overflow: hidden;
}

#container {
  display: flex;
  flex-flow: row;
}

h1 {
  padding: 4% 0 0 4%;
  margin: 0;
  font-size: 4em;
}

h2 {
  font-size: 2em;
  width: 60%;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-flow: row;
  width: 600px;
}

#first-half,
#second-half {
  display: flex;
  flex-flow: column;
  width: 50%;
  padding: 5% 10% 5% 10%;
  justify-content: flex-start;
}

.button-main {
  color: #000;
  background-color: #fff;
  border: 2px solid black;
  box-shadow: 3px 4px 1px;
  transition: all 0.3s ease 0s;
  outline: none;
  font-family: inherit;
  font-weight: bold;
  margin-left: auto;
  border-radius: 5px;
  font-size: 1.5em;
}

#scores {
  width: 600px;
  height: 500px;
  border: 5px solid #333;
  padding: 0;
  overflow-y: scroll;
  border-radius: 20px;
  background: #ccc;
  color: #000;
}

#form {
  display: flex;
  flex-flow: column;
  width: 50%;
}

.input-text {
  margin-bottom: 20px;
  border: 4px solid black;
  height: 40px;
  background: #fff;
  font-weight: bold;
  font-family: inherit;
  font-size: 1.5em;
  padding-left: 10px;
  color: black;
  margin-top: 20px;
  border-radius: 15px;
}

li {
  list-style: none;
  font-size: 1.5em;
  padding: 5px 0 5px 10px;
}

li:nth-child(odd) {
  background: #fff;
}

li:nth-child(1) {
  background: greenyellow;
}

li:nth-child(2) {
  background: beige;
}

li:nth-child(3) {
  background: lightsalmon;
}

#error-popup {
  position: fixed;
  color: #fff;
  font-size: 1.5em;
  font-family: inherit;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 250px;
  width: 400px;
  height: 60px;
  visibility: visible;
  opacity: 1;
  transition: all 3s;
  border-radius: 4%;
  text-align: center;
  line-height: 60px;
  z-index: 99;
  box-shadow: 5px 6px 1px rgba(0, 0, 0);
}

.fade {
  visibility: hidden !important;
  opacity: 0 !important;
}

.red {
  background: brown;
}

.green {
  background: limegreen;
}

button:hover {
  background: black;
  color: #fff;
}

footer {
  text-align: center;
  margin-bottom: 100px;
  font-size: 2em;
  margin-top: -100px;
}